@charset "utf-8";
@font-face {
  font-family: Jalnan;
  src: url(Jalnan.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Jalnan;
  background-color: #f9ea9d;
  text-align: center;
  color: black;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
img {
  border: none;
}
header {
  background-color: #f9ea9d;
  color: ;
  height: 300px;
  text-align: center;
}
.menu {
  border: 3px dashed #de9550;
  border-collapse: collapse;
  border-radius: 25px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  font-size: 13pt;
}

section {
  height: 350px;
  background-color: white;
}
footer {
  background-color: #f9ea9d;
  height: 70px;
  text-align: center;
}
.headerimg {
  width: 100px;
  margin: 50px;
}
td {
  border: 3px dashed #de9550;
}
